<div class="forms">
    <form class="login-form" #signupForm="ngForm" (ngSubmit)="handleSignup(signupForm.value, $event)">
        <div *ngIf="signupForm.submitted" class="input-field-invalid">
            <div *ngIf="signupForm.form.errors?.passwordMismatch">
                Password and Confirm Password does not match
            </div>
            <div *ngIf="signupForm.form.errors?.required">
                Some required fields are empty
            </div>
            <div *ngIf="signupForm.form.errors?.conflict">
                Email already exist, please try another
            </div>
            <div *ngIf="signupForm.form.errors?.success" class="success-message">
                Registration Successful, Please go to <b>Login</b> tab
            </div>
        </div>
        <input type="text" name="email" class="input-field" placeholder="Email" #email="ngModel" ngModel required>
        <div *ngIf="email.invalid && (email.dirty || email.touched || signupForm.submitted)" class="input-field-invalid">
            <div *ngIf="signupForm.controls['email'].errors?.required">
                Email cannot be empty.
            </div>
        </div>
        <input type="text" name="firstName" class="input-field half-size mr-5" placeholder="First Name" #firstName="ngModel" ngModel required>
        <input type="text" name="lastName" class="input-field half-size" placeholder="Last Name" #lastName="ngModel" ngModel>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || signupForm.submitted)" class="input-field-invalid">
            <div *ngIf="signupForm.controls['firstName'].errors?.required">
                First Name cannot be empty.
            </div>
        </div>
        <input type="password" name="password" class="input-field half-size mr-5" placeholder="Password" #signupPassword="ngModel" ngModel required>
        <input type="password" name="confpassword" class="input-field half-size" placeholder="Confirm Password" #confSignupPassword="ngModel" ngModel required="">
        <div *ngIf="signupPassword.invalid && (signupPassword.dirty || signupPassword.touched || signupForm.submitted)" class="input-field-invalid">
            <div *ngIf="signupForm.controls['password'].errors?.required">
                Password cannot be empty.
            </div>
        </div>
        <div *ngIf="confSignupPassword.invalid && (confSignupPassword.dirty || confSignupPassword.touched || signupForm.submitted)" class="input-field-invalid">
            <div *ngIf="signupForm.controls['confpassword'].errors?.required">
                Confirm Password cannot be empty.
            </div>
        </div>
        <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
</div>