<nav class="navbar navbar-light justify-content-between border border-dark bg-success">
    <a class="navbar-brand">Result Management System</a>
    <form class="form-inline">
      
      <a href="login" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</a>
    </form>
  </nav>
      <div class="container text-right mt-4 mb-3">
        <div>
            <a routerLink="add" class="btn btn-primary">Add Record</a>
        </div>
    </div>
    <div class="container">
        <table class="table border border-dark">
            <thead>
              <tr>
                <th scope="col">Roll No</th>
                <th scope="col">Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Marks</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
               
              <tr *ngFor="let us of data">
                <th scope="row">{{us.rollno}}</th>
                <td>{{us.name}}</td>
                <td>{{us.DOB}}</td>
                <td>{{us.marks}}</td> 
                <td>
                    <a [routerLink]="['add',us.rollno]" class="btn btn-danger">
                        <i class="fa fa-pencil" aria-hidden="false"></i> </a>
                        &nbsp;
                    <a (click)="deleteId(us.rollno)" class="btn btn-primary" >
                         <i class="fa fa-times-circle" aria-hidden="true"></i></a>
                </td>
              </tr>
             
              </tbody>
              </table>
        </div>
