<nav class="navbar navbar-light justify-content-between border border-dark bg-success">
    <a class="navbar-brand">Result Management System</a>
    <a href="login" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</a>
  </nav>
  <div class="container text-center">
    <div class="container home">
        <div class="container">
            <h4>Login As</h4>
        </div>
        <a routerLink="teacher-login" class="btn btn-primary mr-2">Teacher</a>
    
        <a routerLink="student-login" class="btn btn-primary">Student</a>
    </div>
  </div>
  <router-outlet></router-outlet>
